<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For you</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header id="foryouheader">
        <button id="filter" aria-label="Filter button"><img src="../img/filter.svg" alt="Filter icon"></button>
        <!-- To-Do: filter fucntie -->
        <h1>For you</h1>
        <button id="search" aria-label="Search button"><img src="../img/search.svg" alt="search icon"></button>
        <!-- To-Do: Search functie -->
    </header>


    <main>
        <% users.forEach(user => { %>

        <% }); %>

        <div id="user-info-container">
            <% users.forEach(user => { %>

            <div>
                
                <ul id="order1">
                    <li>
                        <ul>
                            <% user.genres.forEach(genre => { %>
                                
                            
                                <li><h3><%= genre %></h3></li>
                            <% }); %>
                        </ul>
                    </li>
                    <li>
                        <img src="../img/location_icon.svg" alt="test">
                    </li>
                </ul>
                <h2 id="order2"><%= user.memberName %> ></h2>
            </div>

            <p><%= user.description %></p>

            <h4>Members:</h4>
            
            <ul id="members">
                <% if (user.memberPfp && user.memberPfp.length > 0) { %>
                    <% user.memberPfp.forEach(memberPfp => { %>
                        <li> <img src="../img/<%= memberPfp %>" alt="test"></li>
                    <% }); %>
                <% } else { %>
                    <li> <img src="../img/location_icon.svg" alt="test"></li>
                <% } %>
                
            </ul>
                    <!-- <h2><%= user.memberName %></h2>
                

                <% user.genres.forEach(genre => { %>
                    <h2 class="genre">genre <%= genre %></h2>
                <% }); %>


                <% user.memberGender.forEach(gender => { %>
                    <h2 class="memberGender">gender: <%= gender %></h2>
                <% }); %>-->

            <% }); %> 
            
        </div>
    </main>


    <footer>
        <nav>
            <ul>
                <li><a href="foryou"><img src="../img/housepurple.svg" alt="Go to for you page"></a></li>
                <li><a href="profile"><img src="../img/profile.svg" alt="Go to profile page"></a></li>
                <li><a href="settings"><img src="../img/settings.svg" alt="Go to settings page"></a></li>
            </ul>
        </nav>
    </footer>
    
    <script src="/js/script.js"></script>
</body>
</html>