<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="profile">
    <header>
        <section>
            <h1>Profile</h1>
            <img src="../img/edit_icon.svg" alt="edit icon button">
        </section>
        <section>
            <h2>Band naam enzo</h2>
            <img src="../img/band_icon.svg" alt="band icon">
        </section>
    </header> 
    
    <main>
        <label for="profileDescription">Profile Description</label>
        <textarea id="profileDescription" name="profileDescription"><%= user.description %></textarea>

        <div></div>

        <section>
            <img src="../img/location_icon.svg" alt="location icon">
            <label for="profileLocation">From</label>
            <input type="text" id="profileCity" name="profileCity" value="<%= user.city %>"/>
            <input type="text" id="profileCountry" name="profileCountry" value="<%= user.country %>"/>         
        </section>

        <section>
            <img src="../img/genre_icon.svg" alt="genre icon">
            <label for="profileGenre">Genre</label>
            <input type="text" id="profileGenre" name="profileGenre" value="<%= user.genres %>" />
        </section>

        <section>
            <img src="../img/instrument_icon.svg" alt="instrument icon">
            <label for="profileInstrument">Instrument</label>
            <input type="text" id="profileInstrument" name="profileInstrument" value="<%= user.userInstruments %>" />
        </section>

        <section>
            <img src="../img/language_icon.svg" alt="language icon">
            <label for="profileLanguage">Language</label>
            <input type="text" id="profileLanguage" name="profileLanguage" value="<%= user.language %>" />
        </section>

        <section>
            <img src="../img/member_icon.svg" alt="member icon">
            <label for="memberInfo">Members</label>
            <input type="text" id="memberName" name="memberName" value="<%= user.memberName %>" />
            <input type="text" id="memberBirthday" name="memberBirthday" value="<%= user.memberBirthday %>" />
            <input type="text" id="memberGender" name="memberGender" value="<%= user.memberGender %>" />
        </section>

        <section>
            <h3>Content</h3>
        </section>

    </main>

    <footer>
        <nav>
            <ul>
                <li><a href="foryou"><img src="../img/houseWhite_icon.svg" alt="Go to for you page"></a></li>
                <li><a href="profile"><img src="../img/profilePurple_icon.svg" alt="Go to profile page"></a></li>
                <li><a href="settings"><img src="../img/settings.svg" alt="Go to settings page"></a></li>
            </ul>
        </nav>
    </footer>

    <script src="/js/script.js"></script>
  </body>
</html>
