<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="profile">

    <form action="/edit" method="POST" enctype="multipart/form-data">
        <header id="backgroundSection" style="background-image: url('../uploads/<%= user.memberPfp %>');">
            <section id="gradient">
                <section>
                    <img src="../img/back_button_icon.svg" id="backButton" alt="back button">
                    <h1>Profile</h1>
                    <img src="../img/edit_icon.svg" alt="edit icon button" id="editIcon">
                </section>
            </section>
            <section>
                <input type="file" name="memberPfp" class="mediaInput" accept="image/*">
            </section>
        </header>

        <main>
            <section>
                <div id="descriptionLabel">
                    <img src="../img/band_icon.svg" alt="band icon" id="bandIcon">
                    <label for="profileDescription"><%= user.bandName %></label>
                </div>
                <textarea id="profileDescription" name="description" readonly><%= user.description %></textarea>
            </section>
            
            <div class="purple-stripe"></div>
            
            <section>
                <img src="../img/location_icon.svg" class="imageIcon" alt="location icon">
                <section>
                    <label for="profileLocation">From</label>
                    <input type="text" id="profileCity" name="city" value="<%= user.city %>" readonly/>
                    <input type="text" id="profileCountry" name="country" value="<%= user.country %>" readonly/>   
                </section>      
            </section>

            <section>
                <img src="../img/language_icon.svg" class="imageIcon" alt="language icon">
                <section>
                    <label for="profileLanguage">Language</label>
                    <input type="text" id="profileLanguage" name="language" value="<%= user.language %>" readonly/>
                </section>
            </section>
            
            <section>
                <img src="../img/genre_icon.svg" class="imageIcon" alt="genre icon">
                <section>
                    <label class="checkbox-label">Genre</label>
                    <section class="grid-choice-button">
                        <% const genres = ['Blues', 'Classical', 'Country', 'Disco', 'Dubstep', 'Electro', 'Folk', 'Funk', 'Hip-hop', 
                        'House', 'Jazz', 'Metal', 'Pop', 'Punk', 'R&B', 'Reggae', 'Rock', 'Schlager', 'Soul', 'Techno', 'Trance']; %>
                        <% genres.forEach(function(genre) { %>
                            <section class="profile-choice <%= user.genres.includes(genre) ? 'checked' : 'hidden' %>">
                                <input type="checkbox" name="genres" value="<%= genre %>"
                                <% if (user.genres.includes(genre)) { %> checked <% } %> readonly/>
                                    <%= genre %>
                                    <div class="check"></div>
                             </section>
                        <% }); %>
                    </section>
                </section>
            </section>
            
            <section>
                <img src="../img/instrument_icon.svg" class="imageIcon" alt="instrument icon">
                <section>
                    <label class="checkbox-label">Instrument</label>
                    <section class="grid-choice-button">
                        <% const instruments = ['Accordion', 'Banjo', 'Bass', 'Bongos', 'Cello', 'Clarinet', 'Congas', 'Drums', 'Djembe', 'Flute', 'Guitar', 
                        'Harmonica', 'Keyboard', 'Maracas', 'Piano', 'Sampler', 'Saxophone', 'Synthesizer', 'Trombone', 'Trumpet', 'Ukelele', 'Violin', 'Voice']; %>
                        <% instruments.forEach(function(instrument) { %>
                            <section class="profile-choice <%= user.userInstruments.includes(instrument) ? 'checked' : 'hidden' %>">
                                <input class="checkbox-font" type="checkbox" name="userInstruments" value="<%= instrument %>" 
                                <% if (user.userInstruments.includes(instrument)) { %> checked <% } %> readonly/>
                                    <%= instrument %>
                                    <div class="check"></div> 
                            </section>
                        <% }); %>
                    </section>
                </section>
            </section>
            
            <section>
                <h2>Content</h2>
                <section>
                <% user.media.forEach(video => { %>
                    <div id="videoBackground">
                        <video loop>
                              <source src="../uploads/<%= video %>" type="video/mp4">  
                            Your browser does not support the video tag.
                        </video>
                    </div>
                <% }); %> 
                <input type="file" name="media" class="mediaInput" accept="video/*,audio/*"/>        
            </section>

            <button type="submit" id="saveButton">Save</button>
        </main>
    </form>

    <footer>
        <nav>
            <ul>
                <li><a href="foryou"><img src="../img/houseWhite_icon.svg" alt="Go to for you page"></a></li>
                <li><a href="profile"><img src="../img/profilePurple_icon.svg" alt="Go to profile page"></a></li>
                <li><a href="settings"><img src="../img/settings.svg" alt="Go to settings page"></a></li>
            </ul>
        </nav>
    </footer>

    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  </body>
</html>
