<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="profile">

    <form action="/edit" method="POST" enctype="multipart/form-data">
        <section>
            <h1>Profile</h1>
            <img src="../img/edit_icon.svg" alt="edit icon button" id="editIcon">
        </section>
        <section>
            <input type="text" id="profileBandName" name="bandName" value="<%= user.bandName %>" readonly/>
            <img src="../img/band_icon.svg" alt="band icon">
        </section>

        <label for="profileDescription">Profile Description</label>
        <textarea id="profileDescription" name="description" readonly><%= user.description %></textarea>
        
        <div></div>
        
        <section>
            <img src="../img/location_icon.svg" alt="location icon">
            <label for="profileLocation">From</label>
            <input type="text" id="profileCity" name="profileCity" value="<%= user.city %>" readonly/>
            <input type="text" id="profileCountry" name="country" value="<%= user.country %>" readonly/>         
        </section>

        <section>
            <img src="../img/language_icon.svg" alt="language icon">
            <label for="profileLanguage">Language</label>
            <input type="text" id="profileLanguage" name="language" value="<%= user.language %>" readonly/>
        </section>
        
        <section>
            <img src="../img/genre_icon.svg" alt="genre icon">
            <label for="profileGenre">Genre</label>
            <input type="checkbox" id="profileGenre" name="genres" value="metal" <% if (user.genres.includes('metal')) { %> checked <% } %> readonly /> 
        </section>
        
        <section>
            <img src="../img/instrument_icon.svg" alt="instrument icon">
            <label for="profileInstrument">Instrument</label>
            <input type="checkbox" id="userInstruments" name="userInstruments"
            value="piano" <% if (user.userInstruments.includes('piano')) { %>
            checked <% } %> />
        </section>
        
        <section>
            <img src="../img/member_icon.svg" alt="member icon">
            <label for="memberInfo">Members</label>
            <input type="text" id="bandName" name="bandName" value="<%= user.bandName %>" readonly/>
        </section>

        <section>
            <h3>Content</h3>
            <input type="text" id="mediaFile" name="mediaFile" value="<%= user.mediaFile %>" readonly/>
        </section>

        <button type="submit" id="saveButton" style="display: none;">Save</button>
    </form>

    <footer>
        <nav>
            <ul>
                <li><a href="foryou"><img src="../img/houseWhite_icon.svg" alt="Go to for you page"></a></li>
                <li><a href="profile"><img src="../img/profilePurple_icon.svg" alt="Go to profile page"></a></li>
                <li><a href="settings"><img src="../img/settings.svg" alt="Go to settings page"></a></li>
            </ul>
        </nav>
    </footer>

    <script src="/js/script.js"></script>
  </body>
</html>
