<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Form</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <form action="/register" method="POST" enctype="multipart/form-data">
      <h1>User Registration Form</h1>

      <section class="container-progressbar">
        <ul id="progressbar-ul">
            <li class="progressbar"></li>
            <li class="progressbar"></li>
            <li class="progressbar"></li>
            <li class="progressbar"></li>
            <li class="progressbar"></li>
            <li class="progressbar"></li>
            <li class="progressbar"></li>
            <li class="progressbar"></li>
            <li class="progressbar"></li>
            <li class="progressbar"></li>
        </ul>
    </section>

    <div id="partials-container">
      <div class="partial"><%- include ("../partials/soloOrBand") %></div>
      <div class="partial"><%- include ("../partials/bandSigningUp.ejs") %></div>
      <div class="partial"><%- include ("../partials/genderSelect.ejs") %></div>
      <div class="partial"><%- include ("../partials/birthdays.ejs") %></div>
      <div class="partial"><%- include ("../partials/genreSelect") %></div>
      <div class="partial"><%- include ("../partials/instrumentSelect") %></div>
      <div class="partial"><%- include ("../partials/addVideo") %></div>
      <div class="partial"><%- include ("../partials/addDiscription") %></div>
      <div class="partial"><%- include ("../partials/addLocation") %></div>
    </div>

    <!--
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required /><br /><br />

      <label for="isSoloArtist">Are you a solo artist?</label>
      <input
        type="checkbox"
        id="isSoloArtist"
        name="isSoloArtist"
        value="true"
      /><br /><br />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />

      <label for="bandName">Band Name:</label>
      <input type="text" id="bandName" name="bandName" /><br /><br />

      <h2>Members</h2>
      <div id="members">
        <div class="member">
          <label for="memberName">Name:</label>
          <input type="text" name="memberName" /><br /><br />

          <label for="memberPfp">Profile Picture:</label>
          <input type="file" name="memberPfp" /><br /><br />

          <label for="memberGender">Gender:</label>
          <input type="text" name="memberGender" required /><br /><br />

          <label for="memberBirthday">Birthday:</label>
          <input type="date" name="memberBirthday" required /><br /><br />
        </div>
      </div>
      <button type="button" onclick="addMember()">Add Member</button
      ><br /><br />

      <label for="genres">Genres:</label>
      <input type="text" id="genres" name="genres" required /><br /><br />

      <label for="userInstruments">Instruments:</label>
      <input
        type="text"
        id="userInstruments"
        name="userInstruments"
        required
      /><br /><br />
      -->

      <section id="buttons_NextPrev">
        <button id="prevBtn">Previous</button>
        <button id="nextBtn">Next</button>
      </section>

      <button type="submit">Submit</button>
    </form>

    <script src="/js/script.js"></script>
  </body>
</html>
