<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="settings">

    <header>
        <a href="javascript:history.back()"><img src="../img/back_button_icon.svg" id="backButton" alt="back button"></a>
        <h1>Settings</h1>
        <div></div>        
    </header>

    <main>
        <section>
            <img src="../uploads/<%= user.memberPfp %>" alt="profile picture" id="profileImage"> 
            <article>
                <h2><%= user.bandName %></h2>
                <p><%= user.email %></p>
                <p><%= user.city %>, <%= user.country %></p>
            </article> 
        </section>

        <section>
            <h3>Account</h3>
            <section class="setting-container">
                <a class="setting-menu" href="#emailPopup">
                    <img src="../img/mail_icon.svg" alt="email icon">
                    <h4>Change email</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to change email">
                    </div>
                </a>
                    <div class="purple-stripe"></div>
                <a class="setting-menu" href="#passwordPopup">
                    <img src="../img/password_icon.svg" alt="password icon">
                    <h4>Change password</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to change password">
                    </div>
                </a>
                    <div class="purple-stripe"></div>
                <a class="setting-menu" href="#deletePopup">
                    <img src="../img/delete_icon.svg" alt="delete icon">
                    <h4>Delete account</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to delete account">
                    </div>
                </a>
                    <div class="purple-stripe"></div>
                <a class="setting-menu" href="#logoutPopup">
                    <img src="../img/logout_icon.svg" alt="logout icon">
                    <h4>Log out</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to logout">
                    </div>
                </a>
            </section>
        </section>

        <!-- Overlay Email -->
        <form id="emailPopup" class="overlay" action="/edit" method="POST">
            <section class="popup">
                <div class="header-popup">
                    <h2>Change email</h2>
                    <a class="close" href="#"></a>
                </div>
                <p class="text-popup">Current email: <%= user.email %></p>

                <label for="email"><E-mail></E-mail></label>
                <input type="email" id="email" name="email"/>

                <button class="submitButton" type="submit">Submit</button>
            </section>
        </form>

        <!-- Overlay Password -->
        <form id="passwordPopup" class="overlay" action="/editPassword" method="POST">
            <section class="popup">
                <div class="header-popup">
                    <h2>Change password</h2>
                    <a class="close" href="#"></a>
                </div>       
                <label for="password">Password</label>
                <input type="password" id="password" name="password"/>

                <button class="submitButton" type="submit">Submit</button>
            </section> 
        </form>

        <!-- Overlay Delete account -->
        <form id="deletePopup" class="overlay" action="/delete" method="GET">
            <section class="popup">
                <div class="header-popup">
                    <h2>Delete account</h2>
                    <a class="close" href="#"></a>
                </div>    
                <p class="text-popup">Are you sure you want to delete your account?</p>

                <div class="button-display">
                    <a class="no" href="#">No</a>
                    <button class="yes" type="submit">Yes</button>
                </div>
            </section>
        </form>

        <!-- Overlay Log out -->
        <form id="logoutPopup" class="overlay" action="/logout" method="GET">
            <section class="popup">
                <div class="header-popup">
                    <h2>Log out</h2>
                    <a class="close" href="#"></a>
                </div>    
                <p class="text-popup">Are you sure you want to log out?</p>

                <div class="button-display">
                    <a class="no" href="#">No</a>
                    <button class="yes" type="submit">Yes</button>
                </div>
            </section>  
        </form>
    </main>

    <footer>
        <nav>
            <ul>
                <li><a href="foryou"><img src="../img/houseWhite_icon.svg" alt="Go to for you page"></a></li>
                <li><a href="profile"><img src="../img/profile.svg" alt="Go to profile page"></a></li>
                <li><a href="settings"><img src="../img/settingsPurple_icon.svg" alt="Go to settings page"></a></li>
            </ul>
        </nav>
    </footer>

    <script src="/js/script.js"></script>
  </body>
</html>
