<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="settings">

    <header>
        <img src="../img/back_button_icon.svg" id="backButton" alt="back button">
        <h1>Settings</h1>
        <div></div>        
    </header>

    <main>
        <section>
            <img src="../uploads/<%= user.memberPfp %>" alt="profile picture" id="profileImage"> 
            <article>
                <h2><%= user.bandName %></h2>
                <p><%= user.email %></p>
                <p><%= user.city %>, <%= user.country %></p>
            </article> 
        </section>

        <section>
            <h3>Accessibility</h3>
            <section class="setting-container">
                <button class="setting-menu"> 
                    <img src="../img/language_icon.svg" alt="language icon">
                    <h4>Language</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to change language">
                    </div>
                </button>
                    <div class="purple-stripe"></div>
                <button class="setting-menu">
                    <img src="../img/display_icon.svg" alt="display icon">
                    <h4>Display</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to change display">
                    </div>
                </button>
            </section>
        </section>

        <!-- Overlay language -->
        <form action="/edit" method="POST" enctype="multipart/form-data">
            <section>
                <h2>Language</h2>
                <div></div>
            </section>
            <ul>
                <li>English</li>
                <li>Deutch</li>
                <li>Espagnol</li>
                <li>Nederlands</li>
            </ul>
        </form>

        <section>
            <h3>Account</h3>
            <section class="setting-container">
                <button class="setting-menu">
                    <img src="../img/mail_icon.svg" alt="email icon">
                    <h4>Change email</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to change email">
                    </div>
                </button>
                    <div class="purple-stripe"></div>
                <button class="setting-menu">
                    <img src="../img/password_icon.svg" alt="password icon">
                    <h4>Change password</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to change password">
                    </div>
                </button>
                    <div class="purple-stripe"></div>
                <button class="setting-menu">
                    <img src="../img/delete_icon.svg" alt="delete icon">
                    <h4>Delete account</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to delete account">
                    </div>
                </button>
                    <div class="purple-stripe"></div>
                <button class="setting-menu">
                    <img src="../img/logout_icon.svg" alt="logout icon">
                    <h4>Log out</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to logout">
                    </div>
                </button>
            </section>
        </section>

        <!-- Overlay Email -->
        <form action="/edit" method="POST" enctype="multipart/form-data">
            <section>
                <h2>Change email</h2>
                <div></div>
            </section>
            <p>Current email: <%= user.email %></p>

            <label for="email"><E-mail></E-mail></label>
            <input type="email" id="email" name="email" />

            <button type="submit">Submit</button>
        </form>

        <!-- Overlay Password -->
        <form action="/edit" method="POST" enctype="multipart/form-data">
            <section>
                <h2>Change password</h2>
                <div></div>
            </section>        
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />

            <button type="submit">Submit</button>
        </form>

        <!-- Overlay Delete account -->
        <form action="/edit" method="POST" enctype="multipart/form-data">
            <section>
                <h2>Delete account</h2>
                <div></div>
            </section>        
            <p>Are you sure you want to delete your account?</p>

            <button type="button">No</button>
            <button type="submit">Yes</button>
        </form>

        <!-- Overlay Log out -->
        <form action="/edit" method="POST" enctype="multipart/form-data">
            <section>
                <h2>Log out</h2>
                <div></div>
            </section>        
            <p>Are you sure you want to log out?</p>

            <button type="button">No</button>
            <button type="submit">Yes</button>
        </form>
    </main>

    <footer>
        <nav>
            <ul>
                <li><a href="foryou"><img src="../img/houseWhite_icon.svg" alt="Go to for you page"></a></li>
                <li><a href="profile"><img src="../img/profile.svg" alt="Go to profile page"></a></li>
                <li><a href="settings"><img src="../img/settingsPurple_icon.svg" alt="Go to settings page"></a></li>
            </ul>
        </nav>
    </footer>

    <script src="/js/script.js"></script>
  </body>
</html>
