<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="settings">

    <header>
        <img src="../img/back_button_icon.svg" id="backButton" alt="back button">
        <h1>Settings</h1>
        <div></div>        
    </header>

    <main>
        <section>
            <img src="../uploads/<%= user.memberPfp %>" alt="profile picture" id="profileImage"> 
            <article>
                <h2><%= user.bandName %></h2>
                <p><%= user.email %></p>
                <p><%= user.city %>, <%= user.country %></p>
            </article> 
        </section>

        <section>
            <h3>Accessibility</h3>
            <section class="setting-container">
                <section class="setting-menu"> 
                    <img src="../img/language_icon.svg" alt="language icon">
                    <h4>Language</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to change language">
                    </div>
                </section>
                    <div class="purple-stripe"></div>
                <section class="setting-menu">
                    <img src="../img/display_icon.svg" alt="display icon">
                    <h4>Display</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to change display">
                    </div>
                </section>
            </section>
        </section>

        <section>
            <h3>Account</h3>
            <section class="setting-container">
                <section class="setting-menu">
                    <img src="../img/mail_icon.svg" alt="email icon">
                    <h4>Change email</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to change email">
                    </div>
                </section>
                    <div class="purple-stripe"></div>
                <section class="setting-menu">
                    <img src="../img/password_icon.svg" alt="password icon">
                    <h4>Change password</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to change password">
                    </div>
                </section>
                    <div class="purple-stripe"></div>
                <section class="setting-menu">
                    <img src="../img/delete_icon.svg" alt="delete icon">
                    <h4>Delete account</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to delete account">
                    </div>
                </section>
                    <div class="purple-stripe"></div>
                <section class="setting-menu">
                    <img src="../img/logout_icon.svg" alt="logout icon">
                    <h4>Log out</h4>
                    <div>
                        <img src="../img/arrow_icon.svg" alt="Click to logout">
                    </div>
                </section>
            </section>
        </section>
    </main>

    <footer>
        <nav>
            <ul>
                <li><a href="foryou"><img src="../img/houseWhite_icon.svg" alt="Go to for you page"></a></li>
                <li><a href="profile"><img src="../img/profile.svg" alt="Go to profile page"></a></li>
                <li><a href="settings"><img src="../img/settingsPurple_icon.svg" alt="Go to settings page"></a></li>
            </ul>
        </nav>
    </footer>

    <script src="/js/script.js"></script>
  </body>
</html>
